.profile_container {
  position: relative;
  width: 100vw;
  height: 200vh;
  background: black;
  z-index: 4;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.profile{
  position: relative;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 4;
}
.profile_heading{
  position: relative;
  z-index: 4;
  font-size: 4rem;
  text-align: center;
  color: white;
  font-family: "Playfair Display", serif;
  padding-top: 1rem;
  padding-bottom: 5rem;
  opacity: 0;
  transform: translateY(-70px);
  animation: slide-in 1s forwards;
}

@keyframes slide-in {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}